:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* --START-- CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: block;
    position: relative;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    border: none;
    background: none;
    font: inherit;
}
input, textarea {
    font: inherit;
    border: none;
    outline: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
/* --END-- CSS RESET */

.layout {
    position: relative;
    font-weight: bold;

    > div {
        padding: 10px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        background-color: #f4efef;
    }
    .feat_yellow {
        background-color: #f3e500;
    }
    .feat_purple {
        background-color: #5f10f5;
        color: #fff;
    }
    .feat_red {
        background-color: #e33d94;
    }
    .sign_up {
        background-color: #f1efe9;
    }
    .content {
        background-color: #eafffd;
    }
}

/* --START-- Desktop Layout */
.layout {
    min-height: 100dvh;
    min-width: 100dvw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px 150px 400px;
    grid-template-areas: 
    "header         header          header"
    "feat_yellow    feat_purple     feat_red"
    "sign_up        sign_up         sign_up"
    "con_item       con_item        con_item"
    ;

    .header {
        grid-area: header;
    }
    .feat_yellow {
        grid-area: feat_yellow;
    }
    .feat_purple {
        grid-area: feat_purple;
    }
    .feat_red {
        grid-area: feat_red;
    }
    .sign_up {
        grid-area: sign_up;
    }
    .content {
        grid-area: con_item;
    }
}
/* --END--  */

/* --START-- Tablet Layout */
@media screen and (max-width: 960px) {
    .layout {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px 300px 250px 250px;
        grid-template-areas: 
        "header         header"
        "con_item       con_item"
        "sign_up        feat_yellow"
        "feat_red       feat_purple"
        ;
    }
}
/* --END--  */
/* --START-- Mobile Layout */
@media screen and (max-width: 580px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 300px 100px 200px 200px 200px;
        grid-template-areas: 
        "header"
        "con_item"
        "sign_up"
        "feat_yellow"
        "feat_red"
        "feat_purple"
        ;
    }
}
/* --END--  */