:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* --START-- CSS RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
}
body {
    display: block;
    position: relative;
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    border: none;
    background: none;
    font: inherit;
}
input, textarea {
    font: inherit;
    border: none;
    outline: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
/* --END-- CSS RESET */

.layout {
    min-height: 100dvh;
    min-width: 100dvw;
    position: relative;
    font-weight: bold;

    > div {
        padding: 10px;

        &::first-letter {
            text-transform: capitalize;
        }
    }

    .header {
        background-color: #f4efef;
    }
    .feat_yellow {
        background-color: #f3e500;
    }
    .feat_purple {
        background-color: #5f10f5;
        color: #fff;
    }
    .feat_red {
        background-color: #e33d94;
    }
    .sign_up {
        background-color: #f1efe9;
    }
    .content {
        background-color: #eafffd;
    }
}